
body {
    background-color: hsl(22, 65%, 54%);

    font-family: Arial, sans-serif;
    margin: 0;
}

.navigation {
    width: 400px;
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation ul{
    font-size: 20px;
}

.recipe-card {
    background-color: hsl(22, 65%, 54%);

}
.home {
    display: inline-block;
    font-size: 25px;
    margin-top: 10px;
}

.recipe-card ul {
    font-size: 20px;
    padding-left: 0;
    list-style-position: inside;
}

